body{
    background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
header img{
    display: flex;
    padding: 2em 3em 2em 0;
}
.border{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    height: 30px;
}
#mockup{
    max-width: 100%;
}

.title{
    font-family: 'Poppins', sans-serif;
}
.txt{
    font-size: 14px;
    letter-spacing: 2px;
}

#register{
    background-color: white;
    color:hsl(257, 40%, 49%) ;
    font-size: 14px;
    padding: .75em;
    width: 70%;
    border: none;
    border-radius: 111px;
    margin-top: 1em;
    margin-left: auto;
    margin-bottom: 3em;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 1);
}
#register{
    outline:0;
}
#social{
    list-style: none;
    padding: 0;
    margin-bottom: 3em;
}
#social li{
    font-size: 13px;
    display: inline-block;
    padding-right: 10px;
    height: 13px;
    width: 13px;
    padding: 9px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 59%)
}
.attribution a {
    color: white;
}

@media screen and (min-width:950px){
    body{
        background: hsl(257, 40%, 49%)  url(../images/bg-desktop.svg);
    }
    .border{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #logo{
        height: 50px;
        padding-bottom: 4em;
    }
    #desktop{
        display: flex;
        flex-direction: row;
    }
    #desktop img{
        width: 50%;
        margin-right: 3em;
    }
    #desktop div{
        text-align: left;
    }
    .title{
        font-size: 2.2em;
    }
    #register{
        padding: 1em;
        width: 30%;
    }
    #social-flex{
        margin-top: 2.5em;
        display: flex;
        justify-content: flex-end;
    }
}